/* Universal */
*{
    box-sizing: border-box;
}

.center{
    text-align: center;
}

html{
    font-size: 16px;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
}

a:hover{
    cursor: pointer;
}

/* Header Content  */
.header.container{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header.nav{
    padding: 0 1.5rem 2rem;
    width: 37rem;
    display: flex;
    justify-content: space-evenly;
}

.nav a{
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-weight: light;
}

.nav a:visited{
    border: 1px solid black;
    padding: 3px;
    border-radius: 3px;
}

.nav a:hover{
    cursor: pointer;
    box-shadow: 5px 3px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}